.contenedor{
    margin: 10px;
    width: 100%;
}

.titulo{
    margin-top: 10px;
    margin-bottom: 3px;
}

hr{
    margin-top: 10px;
    margin-bottom: 10px;
}

.boton{
    float: right;
    background-color: #BB6ECE;
    border-color: #BB6ECE;
    color: white;
    border-radius: 30px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.boton:hover{
    background-color: white;
    border-color: #BB6ECE;
    color: purple
}



.lista{
    height: 480px;
}