.carta{
    margin: 10px;
}

.profesor{
    display: flex;
}

.foto{
     max-width: 30px;
     max-height: 30px;
     margin-right: 10px;
     margin-top: 10px;
}

.calificacion{
    display: flex;
    
}

.boton{
    margin-left: 200px;
    background-color: white;
    border-color: #BB6ECE;
    border-radius: 30px;
    color: black;
    text-align: right;
    float: right;
}

.boton:hover{
    background-color: #BB6ECE;
    border-color: #BB6ECE;
}
.programar2{
    margin-top: 3px;
    float: right ;
    background-color:white;
    border-color: #BB6ECE;
    border-radius: 30px;
    color: #BB6ECE;
}